---
import BaseLayout from '../layouts/BaseLayout.astro';
import AboutSection from '../components/AboutSection.astro';
import { getCollection, type CollectionEntry, getEntry, render } from 'astro:content';

const aboutPosts = await getCollection('about');

const sortPosts = (
  a: CollectionEntry<'about'>,
  b: CollectionEntry<'about'>
) => {
	return a.data.id - b.data.id; 
};

---
<style>
	h1 {
		color: var(--peachy-pink);
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1em;
	}
</style>

<BaseLayout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	background="wine-red"
>
	<h1>About</h1>

	<div class="wrapper">
		{
			aboutPosts
			.sort(sortPosts)
			.map((post) => (
				<AboutSection
					cover={post.data.cover}
					coverAlt={post.data.coverAlt}
					title={post.data.title}
					text={post}
				/>
			))
		}
	</div>
</BaseLayout>