---
import { Image } from 'astro:assets';
import Philippa from '../assets/about/Philippa.jpg';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection, type CollectionEntry, getEntry, render } from 'astro:content';

type Props = CollectionEntry<'about'>['data'];

const { title, description, date, updatedDate, cover, coverAlt, link, additionalImg } = Astro.props;

const aboutPosts = await getCollection('about');


/*const sortPosts = (
  a: CollectionEntry<'about'>,
  b: CollectionEntry<'about'>
) => a.data.id.sort(b.data.id);*/

---
<style>
	h1 {
		color: var(--peachy-pink);
	}

	.container {
		display: flex;
		justify-content: space-between;
		gap: 1em;
	}

	.about-img {
		max-width: 45%;
		max-height: auto;
		border-radius: var(--border-radius);
		overflow: hidden;
	}

	.about-img img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.about-text {
		background-color: var(--peachy-pink);
		max-width: 45%;
		border-radius: var(--border-radius);
		padding: var(--margin-md);
	}

	.about-item {
		flex: 0 0 auto;
	}
</style>

<BaseLayout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	background="wine-red"
>
	<h1>About</h1>

	{
		aboutPosts.map((post) => (
			<div class="container">
				<div class="about-img about-item">
					<Image 
						width={1440}
						height={1707} 
						src={post.data.cover} 
						alt={post.data.coverAlt}
					/>
				</div>
				<slot />
				<div class="about-text about-item">
					<p>
						{post.body}
					</p>
				</div>
			</div>
		))
	}
</BaseLayout>