---
import BaseLayout from "../layouts/BaseLayout.astro";
import FacebookIcon from "../assets/icons/icons8-facebook-24.svg"
import InstagramIcon from "../assets/icons/icons8-instagram-24.svg"
import MailIcon from "../assets/icons/icons8-mail.svg"
import PageTitle from "../components/PageTitle.astro";
import { SITE_DESCRIPTION, SITE_TITLE_TAG } from '../consts';
---
<style>
    h1 {
		color: var(--peachy-pink);
	}

    section {
       background-color: var(--peachy-pink);
       border-radius: var(--border-radius); 
       padding: var(--margin-md);
    }

    .socials-section {
        margin-bottom: var(--margin-xl);
    }

    .social-item {
        display: flex;
        align-items: center;
        gap: var(--margin-md);
        position: relative;
    }

    .social-link::after {
        content: '';
		position: absolute;
		inset: 0;
    }

    .social-link {
        color: var(--wine-red);
        font-weight: 600;
        text-decoration: none;
    }

    .social-item:hover > .social-icons {
        fill: var(--dark-blue);
    }

    .social-item:hover > .social-link {
        color: var(--dark-blue);
    }

    .social-icons {
        fill: var(--wine-red);
    }

    .contact-section {
        display: flex;
        flex-direction: column;
    }

    .contact-form {
        background-color: var(--wine-red);
        width: 70%;
        padding: 3em 2em;
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        gap: var(--margin-lg);
        align-items: center;
        align-self: center;
    }

    .contact-form label {
        display: flex;
        flex-direction: column;
        font-family: "Caprasimo", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.25em;
        color: var(--peachy-pink);
        line-height: 2;
        width: 90%;
    }

    .contact-form label input, textarea {
        border-radius: var(--border-radius);
        border: none;
        padding: var(--margin-sm);
        width: 100%;
    }

    button {
        border: none;
        border-radius: var(--border-radius);
        padding: var(--margin-sm);
        background-color: var(--peachy-pink);
        width: 50%;
    }

    button span {
        font-family: "Caprasimo", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.25em;
        color: var(--wine-red);
        line-height: 2;
    }

    button:hover {
        outline: 0.25em solid var(--peachy-pink);
        background-color: var(--wine-red);
        cursor: pointer;
    }

    button:hover span {
        color: var(--peachy-pink);
    }

    @media (max-width: 600px) {
        .contact-form {
            width: 90%;
        }

        .contact-form label {
            width: 100%;
        }
    }

</style>

<BaseLayout
    title={`Contact ${SITE_TITLE_TAG}`}
    description={SITE_DESCRIPTION}
    background="wine-red"
>
    <PageTitle 
        title="Contact"
        color="text-peachy-pink"
    />
    <section class="socials-section">
        <h2>Social media</h2>
        <div class="social-item">
            <InstagramIcon 
                width={48}
                height={48}
                aria-hidden="true"
                class="social-icons"
            />
            <a 
                href="https://www.instagram.com/philleonfire/"
                class="social-link"
            >
                Follow @phillefire on Instagram
            </a>
        </div>
        <div class="social-item">
            <MailIcon 
                width={48}
                height={48}
                aria-hidden="true"
                class="social-icons"
            />
            <a 
                href="mailto:storm.philippa@gmail.com"
                class="social-link"
            >
                Send me an email at storm.philippa@gmail.com
            </a>
        </div>
    </section>

    <section class="contact-section">
        <h2>Send a message</h2>
        <form class="contact-form">
            <label>
                <span>Name</span>
                <input type="text" id="contact-form-name">
            </label>
            <label>
                <span>Email</span>
                <input type="email" id="contact-form-email">
            </label>
            <label>
                <span>Message</span>
                <textarea id="contact-form-message"></textarea>
            </label>
            <button>
                <span>Send</span>
            </button>
        </form>
    </section>

</BaseLayout>