---
import { Image } from 'astro:assets';
import { render } from "astro:content";

const { title, cover, coverAlt, text } = Astro.props;

const { Content } = await render(text);

---
<div class="container">
    <div class="about-img about-item">
        {cover && (
            <Image 
                width={1440}
                height={1707} 
                src={cover} 
                alt={coverAlt}
            />
        )}
    </div>
    <slot />
    <div class="about-text about-item">
        <h2>{title}</h2>
        <Content />
        <slot name="text" />
    </div>
</div>

<style>
    .container {
		display: flex;
		justify-content: space-between;
		gap: 2em;
	}

    .container:nth-child(even) {
		flex-direction: row-reverse;
	}

	.about-img {
		max-width: 45%;
		max-height: auto;
		border-radius: var(--border-radius);
		overflow: hidden;
        /*border: 0.5em solid var(--wine-red);*/
	}

	.about-img img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.about-text {
		background-color: var(--peachy-pink);
		max-width: 45%;
		border-radius: var(--border-radius);
		padding: var(--margin-md);
        /*border: 0.5em solid var(--wine-red);*/
	}

    h2 {
        font-size: 2em;
    }

	.about-item {
		flex: 0 0 auto;
	}

    @media (max-width: 600px) {
        .container {
            flex-direction: column;
        }

        .container:nth-child(even) {
		    flex-direction: column;
	    }

        .about-img {
		    min-width: 100%;
            height: 70vh;
        }

        .about-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .about-text {
		    max-width: 100%;
        }

        .about-item {
            flex: 0 1 auto;
        }
    }
</style>