---
import { Image } from 'astro:assets';
import { render } from "astro:content";

const { title, cover, coverAlt, text } = Astro.props;

const { Content } = await render(text);

---
<div class="container">
    <div class="about-img about-item">
        {cover && (
            <Image 
                width={1440}
                height={1707} 
                src={cover} 
                alt={coverAlt}
            />
        )}
    </div>
    <slot />
    <div class="about-text about-item">
        <h2>{title}</h2>
        <div class="text">
            <Content />
        </div>
    </div>
</div>

<style>
    .container {
        display: grid;
		grid: auto / 1fr;
		gap: var(--margin-xl);
    }
    .about-img {
        grid-column: span 1;
    }

    .about-text {
        grid-column: span 1;
    }

	.about-img {
        /*
        width: 100%;
        height: 100%;
        */
        height: auto;
		border-radius: var(--border-radius);
		overflow: hidden;
        /*border: 0.5em solid var(--wine-red);*/
	}

	.about-img img {
        width: 100%;
		height: 100%;
		object-fit: cover;
        object-position: center;
	}

	.about-text {
        width: 100%;
		height: 100%;
		background-color: var(--peachy-pink);
		border-radius: var(--border-radius);
		padding: var(--margin-md);
        /*border: 0.5em solid var(--wine-red);*/
	}

    h2 {
        font-size: 2em;
    }

    @media (min-width: 600px) {
        .container {
            grid: 1fr / repeat(7, 1fr);
        }

        .about-img {
            grid-column: span 4;
        }

        .about-text {
            grid-column: span 3;

            .text {
                overflow-y: auto;
                scrollbar-color: var(--wine-red) transparent;
            }
        }

        .container:nth-child(even) {
            .about-img {
                grid-area: 1 / 4 / 2 / 8;
            }

            .about-text {
                grid-area: 1 / 1 / 2 / 4;
            }
        }
    }

    @media (min-width: 1440px) {
        .container {
            grid: 1fr / repeat(6, 1fr);
        }

        .about-img {
            grid-column: span 4;
        }

        .about-text {
            grid-column: span 2;
        }

        .container:nth-child(even) {
            .about-img {
                grid-area: 1 / 3 / 2 / 7;
            }

            .about-text {
                grid-area: 1 / 1 / 2 / 3;
            }
        }
    }
</style>