---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import InstagramIcon from "../assets/icons/icons8-instagram-24.svg";
---

<header>
	<nav>
		<h2><a href="/storm/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/storm/">Home</HeaderLink>
			<HeaderLink href="/storm/portfolio">Portfolio</HeaderLink>
			<HeaderLink href="/storm/about">About</HeaderLink>
			<HeaderLink href="/storm/contact">Contact</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.instagram.com/philleonfire/" target="_blank">
				<span class="sr-only">Follow @phillefire on Instagram</span>
				<InstagramIcon 
					width={32}
					height={32}
					aria-hidden="true"
					class="social-icons"
				/>
			</a>
			
		</div>
	</nav>
</header>

<style>
	header {
		margin: 0 0 1em;
		padding: 0 1em;
		background-color: var(--peachy-pink);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1.5em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--wine-red);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--wine-red);
	}
	.social-links,
	.social-links a {
		display: flex;
	}

	.social-links a:hover > .social-icons {
		fill: var(--dark-blue);
	}

	.social-icons {
		fill: var(--wine-red);
	}

	@media (max-width: 600px) {
		.social-links {
			display: none;
		}
	}
</style>