---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import InstagramIcon from "../assets/icons/icons8-instagram-24.svg";
import MenuIcon from "../assets/icons/menu.svg";
import CloseIcon from "../assets/icons/close.svg";
---

<header>
	<nav>
		<a href="/storm/" class="header-title">
			<div class="blink">
				<span class="sr-only">Storm Philippa Clarén</span>
			</div>
			<h2>
				{SITE_TITLE}
			</h2>
		</a>
		<button class="menu-button">
			<MenuIcon
				width={32}
				height={32}
				aria-label="Toggle menu"
				class="burger-icon"
			/>
			<CloseIcon
				width={32}
				height={32}
				aria-label="Toggle menu"
				class="close-icon hidden"
			/>
		</button>
		<div class="internal-links">
			<HeaderLink href="/storm/">Home</HeaderLink>
			<HeaderLink href="/storm/available-pieces">Available Pieces</HeaderLink>
			<HeaderLink href="/storm/about">About</HeaderLink>
			<HeaderLink href="/storm/contact">Contact</HeaderLink>
			<div class="social-links">
				<a href="https://www.instagram.com/philleonfire/" target="_blank">
					<span class="sr-only">Follow @phillefire on Instagram</span>
					<InstagramIcon 
						width={32}
						height={32}
						aria-hidden="true"
						class="social-icons"
					/>
				</a>
			</div>
		</div>
	</nav>
</header>

<style>
	header {
		margin: 0 0;
		padding: 0 0.5em;
		background-color: var(--peachy-pink);
	}

	.header-title {
		display: flex;
		align-items: center;
	}

	.blink {
        width: 48px;
        height: 60px;
        background-image: url('../assets/no-blink.png');
        background-size: cover;
    }

	.header-title:hover > .blink {
        background-image: url('../assets/blink.gif');
        background-size: cover;
    }

	h2 {
		margin: 0;
		font-size: clamp(1em, 2.5vw, 3em);
		padding: 1em 0;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a {
		color: var(--wine-red);
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}

	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--wine-red);
	}

	.menu-button {
		display: none;
	}

	.internal-links {
		display: flex;
		justify-content: space-between;
	}

	.internal-links a {
		padding: 1em 1em;
	}

	.internal-links a:hover {
		border-bottom-color: var(--dark-blue);
		transition: all 0.5s ease-in;
	}

	.social-links,
	.social-links a {
		display: flex;
		border-top: none;
	}

	.social-links a:hover {
		border-bottom-color: transparent;
	}

	.social-links a:hover > .social-icons {
		fill: var(--dark-blue);
	}

	.social-icons {
		fill: var(--wine-red);
	}

	.hidden {
		display: none;
	}

	@media (max-width: 600px) {
		h2 {
			font-size: clamp(1em, 5vw, 4em);
		}

		.menu-button {
			display: inline-block;
			background-color: transparent;
			border: none;
		}

		.internal-links {
			display: none;
		}

		.open-menu {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			gap: var(--margin-md);
			padding-top: var(--margin-lg);
			position: absolute;
			inset-inline-start: 0px;
			inset-block-start: 70px;
			background-color: var(--wine-red);
			z-index: 1;
			width: 100vw;
			height: 100%;
		}

		.open-menu a {
			color: var(--peachy-pink);
			width: 90%;
			text-align: center;
			font-size: 1.25em;
			border-radius: var(--margin-lg);
		}

		.open-menu a:hover {
			background-color: var(--peachy-pink);
			color: var(--wine-red);
			border-bottom-color: transparent;
		}

		.social-icons {
			fill: var(--peachy-pink);
		}

		.social-links a:hover {
			border-radius: var(--margin-lg);
		}

		.social-links a:hover > .social-icons {
			fill: var(--wine-red);
		}
	}
</style>

<script>
	const menuButton = document.querySelector('button.menu-button');
	const menuDropdown = document.querySelector('div.internal-links');
	const menuIconBurger = document.querySelector('.burger-icon');
	const menuIconClose = document.querySelector('.close-icon');

	let menuOpen = false;

	const toggleMenu = () => {
		menuOpen = !menuOpen;

		menuDropdown?.classList.toggle('open-menu');
		menuIconBurger?.classList.toggle('hidden');
		menuIconClose?.classList.toggle('hidden');

		if(menuOpen) {
			menuDropdown?.addEventListener('click', toggleMenu);
		}
	}

	menuButton?.addEventListener('click', toggleMenu);
</script>