---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';
import type { CollectionEntry } from "astro:content";
import PortfolioCard from '../../components/PortfolioCard.astro';
import PageTitle from "../../components/PageTitle.astro";

const posts = (await getCollection('portfolio'))

const sortPosts = (
  a: CollectionEntry<'portfolio'>,
  b: CollectionEntry<'portfolio'>
) => a.data.title.localeCompare(b.data.title);

---
<style>
    h1 {
		color: var(--peachy-pink);
	}

    .portfolio-section {
       background-color: var(--peachy-pink);
       border-radius: var(--border-radius); 
       padding: var(--margin-md);
    }

    .portfolio-grid {
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--margin-md);
        width: 100%;
    }
</style>
<BaseLayout
    title="Portfolio"
    description="Lorem ipsum dolor sit amet"
    background="wine-red"
>
    <PageTitle 
        title="Portfolio"
        color="text-peachy-pink"
    />
    <div class="portfolio-section">
        <ul class="portfolio-grid">
			{
				posts
					.sort(sortPosts)
					.map((post) => (
						<PortfolioCard 
							cover={post.data.cover}
							coverAlt={post.data.coverAlt}
							url={`/storm/portfolio/${post.id}/`}
							title={post.data.title}
                            class="grid-item"
						/>
					))
			}
		</ul>
    </div>

</BaseLayout>