---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
    title="Portfolio"
    description="Lorem ipsum dolor sit amet"
    background="wine-red"
>
    <p>Something here</p>

</BaseLayout>